body {
  margin: 0;
  padding: 0;

  background-color: rgb(214, 187, 134);

  font-family: "Oregano-Regular", serif;

  background-image: url("../static/coffee-beans.jpg");
  background-size: cover;
  background-attachment: fixed;
  color:rgb(36, 27, 20);
}

th,
h1,
h2,
h3,
h4 {
  font-weight: unset;
}

.btn-bg{
  background-image: url("../static/buttons/buttons_bg.png");
  background-size: contain;
  background-position: center ;
  background-repeat: no-repeat;
}

.btn-fg{
  background-image: url("../static/buttons/buttons_fg.png");
  background-size: contain;
  background-position: center ;
  background-repeat: no-repeat;
  
}

.btn-e-bg{
  background-image: url("../static/buttons/edit_icon_bg.jpg");
  background-size: contain;
  background-position: center ;
  background-repeat: no-repeat;
}

.btn-e-fg{
  background-image: url("../static/buttons/edit_icon.png");
  background-size: contain;
  background-position: center ;
  background-repeat: no-repeat;
  
}

.btn-ex-fg{
  background-image: url("../static/buttons/exit_icon.png");
  background-size: contain;
  background-position: center ;
  background-repeat: no-repeat;
  
}

.m-button:hover .btn-bg{
  filter:brightness(1.5);
}

.m-button:active .btn-bg{
  filter:brightness(0.5);
}

.m-button:hover .btn-e-bg{
  filter:brightness(1.1);
}

.m-button:active .btn-e-bg{
  filter:brightness(0.95);
}



.input{
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid rgb(36, 27, 20);
  color:rgb(36, 27, 20);
  background-color: rgba(255, 255, 255, 0.712);
  font-family: "Oregano-Regular",  serif;
}



.input-group .input{
  border-radius: 0 ;
}

.input-group :first-child{
  border-radius: 10px 0 0 10px ;
}

.input-group :last-child{
  border-radius: 0 10px 10px 0; 
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.justify-center{
  display: flex;
  justify-content:center;
}

.w-full{
  width: 100%;
}

.h-full{
  height: 100%;
}

.token-text{
  font-family: "Oregano-Regular", serif;
}

@font-face {
  font-family: "Oregano-Regular";
  src: url("../static/fonts/Oregano-Regular.ttf");
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 5px 0 auto 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  -webkit-appearance: none;
  appearance: none;
  
  background-image: url("../static/ui/checkbox.png");
  background-size: contain;
    
  /* or whatever styles you want depending on your design */
  /* be as obvious as possible that it's a checkbox and that it's checked! */
}

.toast{
  width: 300px;
  height: 300px;
  top: 30px;
  left: calc(50% - 100px);
  position: absolute;
  background-image: url("../static/ui/toast_modal.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem rgb(36, 27, 20));
  transition: opacity 1s
}

.toast-invisible{
  visibility: hidden;
  z-index: -500;
  opacity: 0;
  
}

.toast-toinvisible{
  opacity: 0;
  
}

.toast-visible{
  visibility: visible;
  opacity: 1;
  
  z-index: 500;
}

.toast-invisible *{
  opacity: 0;
}

.ttoast-text{
  width: fit-content;
  max-width: 160px;
  font-size: 30px;
  margin: 40px auto 0 90px;
}